<!DOCTYPE html>

  <head>
    <meta charset="utf-8">
    <title>Django Allejo</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="jquery.bracket.min.css">
    <script src="jquery-1.9.1.min.js"></script>
    <script src="jquery.bracket.min.js"></script>
    <script src="scripts.js"></script>
  </head>
  <body>
    <div id="minimal">
            <div class="demo">
                <div class="jQBracket lr" style="height: 168px; width: 290px;">
                    <div class="bracket" style="height: 128px;">
                        <div class="round"><div class="match" style="height: 64px;">
                            <div class="teamContainer" style="top: 9.5px;">
                                <div class="team lose" data-resultid="team-0" data-teamid="0">
                                    <div class="label">Team 1</div>
                                        <div class="score" data-resultid="result-0">1</div>
                                    </div>
                                    <div class="team win highlightLoser" data-resultid="team-1" data-teamid="1">
                                        <div class="label">Team 2</div>
                                        <div class="score" data-resultid="result-1">2</div>
                                    </div>
                                    <div class="connector highlightLoser" style="height: 9.5px; width: 20px; right: -22px; top: 33.75px; border-bottom-style: none;">
                                        <div class="connector highlightLoser" style="width: 20px; right: -20px; bottom: 0px;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="match" style="height: 64px;">
                                <div class="teamContainer" style="top: 9.5px;">
                                    <div class="team lose" data-resultid="team-2" data-teamid="2">
                                        <div class="label">Team 3</div>
                                        <div class="score" data-resultid="result-2">3</div>
                                    </div>
                                    <div class="team win highlightWinner" data-resultid="team-3" data-teamid="3">
                                        <div class="label">Team 4</div>
                                        <div class="score" data-resultid="result-3">4</div>
                                    </div>
                                    <div class="connector highlightWinner" style="height: 32px; width: 20px; right: -22px; bottom: 11.25px; border-top-style: none;">
                                        <div class="connector highlightWinner" style="width: 20px; right: -20px; top: 0px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="round">
                            <div class="match" style="height: 64px;">
                                <div class="teamContainer" style="position: absolute; bottom: -22.5px;">
                                    <div class="team lose highlightLoser" data-teamid="1">
                                        <div class="label">Team 2</div>
                                        <div class="score" data-resultid="result-4">4</div>
                                        <div class="bubble">2nd</div>
                                    </div>
                                    <div class="team win highlightWinner" data-teamid="3">
                                        <div class="label">Team 4</div>
                                        <div class="score" data-resultid="result-5">6</div>
                                        <div class="bubble">1st</div>
                                    </div>
                                </div>
                            </div>
                            <div class="match" style="height: 64px;">
                                <div class="teamContainer" style="top: 45px;">
                                    <div class="team win" data-teamid="0">
                                        <div class="label">Team 1</div>
                                        <div class="score" data-resultid="result-6">2</div>
                                        <div class="bubble third">3rd</div>
                                    </div>
                                    <div class="team lose" data-teamid="2">
                                        <div class="label">Team 3</div>
                                        <div class="score" data-resultid="result-7">1</div>
                                        <div class="bubble fourth">4th</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          <script type="text/javascript">
          var minimalData = {
              teams : [
                ["Team 1", "Team 2"], /* first matchup */
                ["Team 3", "Team 4"]  /* second matchup */
              ],
              results : [
                [[1,2], [3,4]],       /* first round */
                [[4,6], [2,1]]        /* second round */
              ]
            }

          $(function() {
              $('#minimal .demo').bracket({
                init: minimalData /* data to initialize the bracket with */ })
            })
          </script>
        </div>
  </body>
  </html>